*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";
@import "partials/spacing";

html {
  //Facility for use REM
  font-size: 62.5%;
  // Scrool mais suave de transição
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  position: relative;

  scroll-behavior: smooth;

  background-color: $neutral-colors-white;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

.border {
  border: 1px solid red;
}

@import "partials/header";
@import "partials/animate";
//@import "partials/icons";
//@import "partials/footer";
//@import "partials/animations";

.s-hero {
  width: 100%;
  background: #f22824
    linear-gradient(350.43deg, #662c60 -83.52%, rgba(102, 44, 98, 0) 97.99%);
  .content-hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 14rem;
    padding-bottom: 5.8rem;
    .content-hero-left {
      width: 100%;
      max-width: 58rem;
      .main-text {
        animation: leftRight 0.6s ease 0s 1 normal forwards;
        h1 {
          margin-bottom: 3.6rem;
        }
        .sub-text {
          h2 {
            color: $secondary-color-default;
            letter-spacing: -1.12px;
            padding: 12px 0;
          }
          p {
            color: $neutral-colors-white;
          }
          del {
            text-decoration: line-through #ffe211 1px;
          }
          span {
            @include typeface-2(p2, desktop);
            font-weight: 700;
          }
        }
        .emoji {
          font-size: 1.9rem;
          padding-top: 1.9rem;
        }
      }
      .cta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3.6rem;
        animation: downUp 0.8s ease 0s 1 normal forwards;
        .btn-secundary {
          font-weight: 700;
          letter-spacing: -0.02em;
        }
        .upload-app {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          svg {
            position: absolute;
            left: -69px;
            top: -16px;
          }
          p {
            color: $neutral-colors-white;
            letter-spacing: -0.32px;
            transition: 0.3s ease;
            span {
              font-weight: 700;
            }
          }
          &:hover {
            p {
              color: $neutral-colors-300;
            }
          }
        }
      }
      .delivery-text {
        @include typeface-2(p3, desktop);
        letter-spacing: -0.13px;
        color: $neutral-colors-white;
        margin-top: 12px;
        animation: downUp 1.1s ease 0s 1 normal forwards;
      }
    }
    .content-hero-right {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .image {
        position: relative;
        max-width: 360px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .card-machine {
          width: 100%;
          max-width: 350px;
          z-index: 2;
          position: absolute;
          top: 32px;
          left: -18px;
          animation: downUp 1s ease 0s 1 normal forwards;
        }
        .circle-yellow {
          position: absolute;
          z-index: 3;
          top: 0px;
          left: -42px;
          max-width: 124px;
          animation: downUp 1s ease 0s 1 normal forwards;
        }
        .square-dots {
          position: absolute;
          z-index: 1;
          top: 12px;
          right: 50px;
          max-width: 62px;
          animation: downUp 1s ease 0s 1 normal forwards;
        }
        .rectangle {
          position: relative;
          z-index: 0;
          bottom: -283px;
          right: -224px;
        }
      }
      .text {
        width: 100%;
        max-width: 16.2rem;
        animation: leftRight 1.4s ease 0s 1 normal forwards;
        .text-item-1 {
          max-width: 12.8rem;
          margin-top: 2rem;
          margin-bottom: 3.4rem;
          p {
            color: $neutral-colors-white;
            line-height: 137.5%;
          }
        }
        .text-item-2 {
          position: relative;
          list-style: none;
          li {
            display: flex;
            align-items: center;
            &:last-child {
              max-width: 148px;
              align-items: flex-start;
              margin-top: 80px;
            }
            .disc {
              width: 5px;
              height: 5px;
              margin-right: 1.9rem;
            }
            .calender {
              width: 15px;
              margin-right: 12px;
            }
            &:not(:last-child) {
              margin-bottom: 1.4rem;
            }
            p {
              @include typeface-2(p2, desktop);
              color: $neutral-colors-white;
              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

.s-card {
  padding-top: 6.4rem;
  .container {
    display: flex;
    align-items: center;
  }
  .card-text {
    width: 100%;
    max-width: 11.2rem;
    margin-right: 6.1rem;
    h3 {
      font-weight: 600;
      color: $primary-color-dark;
      line-height: 135%;
    }
    span {
      display: inline-block;
      @include typeface-2(p2, desktop);
      color: $neutral-colors-100;
      font-weight: 600;
      line-height: 135%;
      margin-bottom: 0.4rem;
    }
    p {
      font-size: 14px;
      line-height: 135%;
      color: $neutral-colors-200;
    }
  }
  .card-item {
    display: flex;
    align-items: center;
    .sub-title {
      width: 100%;
      max-width: 15.6rem;
      @include typeface-2(p1, desktop);
      color: $neutral-colors-200;
      font-weight: 600;
      margin-left: 8.8rem;
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 10.9rem;
      gap: 5rem;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        &:first-child {
          animation: leftRight 1s ease 0.7s 1 normal forwards;
        }
        &:nth-child(2) {
          animation: leftRight 1s ease 0.7s 1 normal forwards;
        }
        &:nth-child(3) {
          animation: leftRight 1s ease 0.9s 1 normal forwards;
        }
        &:nth-child(4) {
          animation: leftRight 1s ease 0.9s 1 normal forwards;
        }
        &:nth-child(5) {
          animation: leftRight 1s ease 1.2s 1 normal forwards;
        }
        p {
          text-align: center;
        }
        span {
          @include typeface-2(p2, desktop);
          font-weight: 700;
          letter-spacing: -0.32px;
        }
      }
    }
  }
}
