//Primary color
$primary-color-default: #f22824;
$primary-color-dark: #dc292e;

//Secondary color
$secondary-color-default: #ffe211;

//Neutral colors
$neutral-colors-100: #343a40;
$neutral-colors-200: #495057;
$neutral-colors-300: #adb5bd;
$neutral-colors-white: #ffffff;
