header {
  width: 100%;
  background-color: $neutral-colors-white;
  box-shadow: none;

  position: fixed;
  z-index: 99;
}

//DESKTOP
.navbar-desktop {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(s) {
    display: none;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-desktop {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  .menu-item {
    &:not(:last-child) {
      margin-right: 36px;
    }
  }
}

.navbar-desktop-item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    margin-right: 32px;
  }
  .icon-login {
    margin-right: 16px;
  }
}

// MOBILE
.navbar-mobile {
  display: none;

  @include responsive(s) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;

  position: relative;
  cursor: pointer;
  z-index: 99;
  transition: 0.7s ease;

  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 17%;

    width: 70%;
    height: 2px;

    background-color: red;
  }

  &::before {
    content: "";
    position: absolute;
    top: 64%;
    left: 17%;

    width: 70%;
    height: 2px;

    background-color: red;
  }
}

.active-bx {
  width: 36px;
  height: 36px;

  position: relative;
  cursor: pointer;
  z-index: 99;
  transition: 0.7s ease;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 17%;

    transform: rotate(-135deg);

    width: 70%;
    height: 2px;

    background-color: red;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 17%;

    transform: rotate(-45deg);

    width: 70%;
    height: 2px;

    background-color: red;
  }
}

.menu-mobile {
  width: 100vw;
  height: 100vh;

  background-color: $neutral-colors-white;
  display: none;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  .nav-list-mobile {
    list-style: none;
  }
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
  display: flex;
}

.nav-link-mobile {
  max-width: 1246px;
  list-style: none;

  padding: 16px 24px;

  display: flex;
  flex-direction: column;
}

.nav-link-mobile {
  display: inline-block;
  @include typeface-1(h3, desktop);
}
