@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
}

// Typography of project

@mixin typeface-1($size, $device: desktop) {
  font-family: "Open Sans", sans-serif;

  //H1
  @if $size == h1 and $device == desktop {
    font-size: 72px;
    line-height: 100%;
  } @else if $size == h1 and $device == mobile {
    font-size: 56px;
    line-height: 100%;
  }

  //H2
  @else if $size == h2 and $device == desktop {
    font-size: 56px;
    line-height: 100%;
  } @else if $size == h2 and $device == mobile {
    font-size: 36px;
    line-height: 100%;
  }

  //H3
  @else if $size == h3 and $device == desktop {
    font-size: 48px;
    line-height: 100%;
  } @else if $size == h3 and $device == mobile {
    font-size: 24px;
    line-height: 100%;
  }
}

@mixin typeface-2($size: p2, $device: desktop) {
  font-family: "Open Sans", sans-serif;

  //P1
  @if $size == p1 and $device == desktop {
    font-size: 18px;
    line-height: 100%;
  } @else if $size == p1 and $device == mobile {
    font-size: 18px;
    line-height: 100%;
  }

  //P2
  @else if $size == p2 and $device == desktop {
    font-size: 16px;
    line-height: 100%;
  } @else if $size == p2 and $device == mobile {
    font-size: 16px;
    line-height: 100%;
  }

  //P3
  @else if $size == p3 and $device == desktop {
    font-size: 13px;
    line-height: 100%;
  } @else if $size == p3 and $device == mobile {
    font-size: 13px;
    line-height: 100%;
  }
}

h1 {
  color: $neutral-colors-white;
  @include typeface-1(h1, desktop);
  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

h2 {
  color: $neutral-colors-white;
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

h3 {
  color: $neutral-colors-white;
  @include typeface-1(h3, desktop);
  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
}

p {
  color: $neutral-colors-200;
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-1(p2, mobile);
  }
}
